canvas {
  width: 100vw;
  height: 100vh;
  background: #18171d;
}

@font-face {
  font-weight: normal;
  font-display: swap;
  font-family: 'Adinda Melia';
  src: url('https://dineshbalaji.in/fonts/adinda-melia.regular.otf');
}
.info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
  padding: 20px 15px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-align: center;
  color: white;
}
.info-container h1 {
  font-size: 16px;
}
.info-container h1 span {
  margin-left: 20px;
  font-family: 'Adinda Melia';
  color: #0ef4fb;
  font-size: 3rem;
}
@media screen and (min-width: 762px) {
  .info-container h1 span {
    font-size: 4rem;
  }
}
.info-container div {
  width: 100%;
}
.info-container div a {
  font-family: 'Fontawesome';
  color: white;
  padding: 7px;
  text-decoration: none;
}
.info-container div a i {
  font-size: 20px;
  font-style: normal;
}

@media screen and (min-width: 762px) {
  .info-container {
    min-width: 500px;
  }
  .info-container h1 {
    font-size: 20px;
  }
  .info-container h1 span {
    font-size: 50px;
  }
  .info-container div a {
    padding: 10px;
  }
  .info-container div a i {
    font-size: 25px;
  }
}
